@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@plugin "daisyui";
/* 
Primary text color : #9c85bd
normal text color : #ffffffa8
background-gradient : linear-gradient(to right,#004e92, #000428);
normal-button-text : #000000cc;
normal-button-background : #ffffffa8;
hover-button-text : #ffffffa8
hover-button-background : #9c85bda8;
active-button-text : #000000cc;
active-button-background : #9c85bd;
*/

*{
    scroll-behavior: smooth;
    /* color: #91333375; */
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer & old Edge */
* {
  -ms-overflow-style: none;
}
body {
    width: 100%;
    min-height: 100vh;
    background: conic-gradient(at bottom right, #1d4ed8, #1e40af, #111827);
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
body::-webkit-scrollbar {
  display: none;
}
@layer utilities {
    .primary-color{
        color: #9c85bd;
    }
    .primary-border{
        border: 4px solid #9c85bd;
    }
    .bg-slide-item{
      background-color: #b59fd4;
    }
    .primary-shadow{
        filter: drop-shadow(0 0 4px #8a53d7) drop-shadow(0 0 3px #716187);
    }
    .normal-color{
        color: #ffffffa8;
    }
    .bg-normal-color{
        color: #ffffffa8;
    }
    .backdrop-style{
        backdrop-filter: blur(20px);
        color: #ffffff3e;
    }
    .skill-shadow{
        box-shadow: 0 0 10px 0.5px #12111133;
        border-radius: 10px;
    }
    .logo{
    font-family: "Playwrite US Modern", cursive;
}
}
