nav{
    width: 100%;
    z-index: 100;
}
.logo{
    font-family: "Playwrite US Modern", cursive;
}
.nav-item{
    width: 100%;
    position: relative;
    width: fit-content;
}
.nav-item::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #9c85bd;
    top: 100%;
    left: 0;
    transition: width 0.3s ease-in-out;
}
.nav-item:hover::after{
    width: 100%;
}
.resume-btn button{
    position: relative;
    scale: 1;
    transition: scale 0.3s ease-in-out;
}
.resume-btn button:hover{
    scale: 1.05;
}
.backdrop-style{
    backdrop-filter: blur(10px);
}